kuzu==0.6.0
lancedb==0.13.0
llama-index==0.11.9
llama-index-embeddings-openai==0.2.5
llama-index-llms-openai==0.2.7
llama-index-postprocessor-cohere-rerank==0.2.0
llama-index-graph-stores-kuzu==0.3.2
llama-index-vector-stores-lancedb==0.2.2